<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<title>126+小圈子</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			-webkit-tap-highlight-color: transparent;
		}
		body{
			font-family: 微软雅黑;
		}
		.code_err-list{
			padding-top: 80px;
			width: 100%;
			min-height: 350px;
			text-align: center;
		}
		.code_err-list small{
			display: block;
			text-align: center;
			margin:30px auto;
			color: #e56f35;
			font-size: 16px;
		}
		.code_err-list span{
			display: block;
			margin-top: 20px;
			color: #bbb;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div class="code_err-list">
		<small>126文化创意园</small>
		<img src="img/code.png">
		<span>二维码错啦！</span>
	</div>
</body>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

</script>


</html>