<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<title>126+小圈子</title>

	</style>
</head>

<body>

</body>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
	var url = window.location.href;

	getInfo('post', wrUrl + '/Home/login', { url: url }, sum);


	function sum(){
		console.log(123);
	}

	getInfo('post', wrUrl + '/WeConf/get_WeiConfig', { url: url }, getConfig);
	function getConfig(r) {
		wx.config({
			debug: false,// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。  
			appId: r.data.appId,
			timestamp: r.data.timestamp,
			nonceStr: r.data.nonceStr,
			signature: r.data.signature,
			jsApiList: ['chooseImage',
				'previewImage', 'openLocation', 'getLocation',
				'scanQRCode', 'checkJsApi', 'onMenuShareTimeline',
				'onMenuShareAppMessage', 'onMenuShareQQ',
				'onMenuShareWeibo', 'onMenuShareQZone']
		});
		wx.ready(function () {

			// config信息验证后会执行ready方法，所有接口调用都必须在config接口在ready函数中调用来
			wx.getLocation({
				type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
				success: function (res) {
					var data = {
						latitude: '',
						longitude: ''
					}
					data.latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
					data.longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
					// var speed = res.speed; // 速度，以米/每秒计
					// var accuracy = res.accuracy; // 位置精度

					// getInfo('post', wrUrl + '/WeConf/get_Distance', data, result);
					var lang = caculateLL('31.4392900000', '104.7569500000', data.latitude, data.longitude)
					if (lang >= 0 && lang < 1000) {
						// getInfo('post', wrUrl + '/WeConf/get_Distance', {'shop_id':data.shop_id}, result)
						
						var title = "title";
						var reg = new RegExp("(^|&)" + title + "=([^&]*)(&|$)");
						var r = window.location.search.substr(1).match(reg);
						var i=GetUrlString('id')
						window.location.href = 'prize.html?id='+ i +'&title=' +r.data
						// getInfo('post', wrUrl + '/WeConf/decodeurl', { title: r[2] }, setList);
					
					} else {
						window.location.href = 'nocode.html'
					}
				}
			});
		});
		wx.error(function () {
			tip.flag('请求错误！', 'error');
			// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});
	}
	// function result(r){
	//     if(r.code==200){
	// 		window.location.href='prize.html?id='+r.data.id+'&title='+r.data.title
	// 	}else{
	// 		console.log('还是错误了')
	// 	}
	// }
	function setList (r) {	
		var i=GetUrlString('id')
			window.location.href = 'prize.html?id='+ i +'&title=' +r.data
	}

	function caculateLL(lat1, lng1, lat2, lng2) {
		var radLat1 = lat1 * Math.PI / 180.0;
		var radLat2 = lat2 * Math.PI / 180.0;
		var a = radLat1 - radLat2;
		var b = lng1 * Math.PI / 180.0 - lng2 * Math.PI / 180.0;
		var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a / 2), 2) + Math.cos(radLat1) * Math.cos(radLat2) * Math.pow(Math.sin(b / 2), 2)));
		s = s * 6378.137;
		s = Math.round(s * 10000) / 10000;
		return s
	};

</script>

</html>