<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<title>126+我的私信</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			-webkit-tap-highlight-color: transparent;
		}
		body{
			font-family: 微软雅黑;
		}
		.nomessage-list{
			padding-top: 130px;
			width: 100%;
			min-height: 350px;
			text-align: center;
		}
		.nomessage-list span{
			display: block;
			margin-top: 20px;
			color: #333;
			font-size: 12px;
		}
		.say{
			text-align: center;
			color: #bbb;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div class="nomessage-list">
		<img src="img/mes.png">
		<span>你还没有任何私信哦</span>
	</div>
	<div class="say">
		想要私信勾搭，园区扫码进小圈子才可以哦~
	</div>
</body>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

</script>


</html>