<!DOCTYPE html>
<html>
<head>
	<title>126+商户核销</title>
	<meta charset="utf-8"/>
	<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<!-- [if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
[endif] -->
<style type="text/css">
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}
	body{
		font-family: 微软雅黑;
	}
    .wx-btn{
        margin: 70% 10% 0 10%;
        width:80%;
        padding:3px 5px;
        border-radius: 5px;
        background: #e68d61;
        text-align: center;
        font-size: 18px;
        height:40px;
        color: #fff;
        line-height: 35px;
    }
</style>
<body>
	<div class="wx-btn" onclick="wxCode()">
        点击扫描二维码
    </div>
</body>
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">

</script>
</html>