<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>{$meta_title} | </title>
		<link href="__CSS__/weui.min.css" rel="stylesheet" />
		<link href="__CSS__/common.css" rel="stylesheet" />
		<style type="text/css">
			.hd {
			    padding: 2em 0;
			}
			.cell .bd {
			    padding-bottom: 30px;
			}		
			.cell .page_title {
			    color: #225fba;
			}
			.page_title {
			    text-align: center;
			    font-size: 34px;
			    color: #3cc51f;
			    font-weight: 400;
			    margin: 0 15%;
			}			
		</style>
		<block name="style"></block>
	</head>
	<body>
		<div class="container">
			<block name="content"></block>
		</div>		

		<script src="__JS__/jquery-2.1.4.min.js"></script>
		<script src="__JS__/fastclick.min.js"></script>
		<script src="__JS__/weui.min.js"></script>
		<block name="script"></block>
	</body>
</html>
