<extend name="_Layout/base"/>

<block name="main">
    <include file="./Application/Common/Builder/formbuilder.html" />
</block>

<block name="style">
	<link href="__CSS__/builder.css" rel="stylesheet">
	<link href="__LIBS__/jquery_huploadify/Huploadify.css" rel="stylesheet" />
	<link href="__LIBS__/bootstrap_daterangepicker/daterangepicker.css" rel="stylesheet" />	
</block>

<block name="script">
	<script src="__JS__/builder.js"></script>
	<script src="__LIBS__/jquery_huploadify/jquery.Huploadify.js"></script>
	<script src="__LIBS__/jquery_dragsort/jquery.dragsort.min.js"></script>	
	<script src="__LIBS__/font_awesome_picker/font-awesome.picker.js"></script>
	<script src="__LIBS__/moment/min/moment-with-locales.min.js"></script>
	<script src="__LIBS__/bootstrap_daterangepicker/daterangepicker.js"></script>	
</block>